In [1]:
import pandas as pd

In [33]:
populacao = pd.read_csv("datasets/populacao.txt",delimiter="\t", encoding="UTF-8")

In [34]:
populacao.head(1)

          Nome  Sexo    Regi?o  Idade
0  ABEL MATTOS     1  Regi?o 2     36

In [18]:
populacao_csv = pd.read_csv("datasets/populacao.csv", encoding="ISO-8859-1")

In [21]:
populacao_csv.head(1)

          Nome  Sexo    Regi達o  Idade
0  ABEL MATTOS     1  Regi達o 2     36